@layout SeconderyLayout
@page "/Gambeling"

@inject IJSRuntime JSRuntime;

<link href="/css/styles/Gambeling.css" rel="stylesheet" />


 <div id="gambelBack"> 
    <div class="container">
        <div class="flex-center flex-column ">
           
             <h1> How Much Would You Like To Bet On Your Success </h1>
    
            <p id="colectedScore"></p>
            <form>
                <select id="gambelOptions" class="btnGreen" onchange="gambelChoice()">
                    <option>0</option>
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                    <option>600</option>
                </select>
                <p> You've chosen to gamble on </p> <p id="choosenGambel"></p>
            </form>

            <button type="button" id="gambelContinue" class="btnGreen" onclick="gambelToContinue()"> Continue</button>
            <a id="GoToGame" href="/GamePage"> </a>

            </div>

        </div>
    </div>

@code {
     protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            CallJSMethod();
        }
     }

    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("gambelingPage");
    }
}
