@layout SeconderyLayout
@page "/Gambeling"

@inject IJSRuntime JSRuntime;

<link href="/css/styles/Gambeling.css" rel="stylesheet" />


 <div id="gambelBack"> 
    <div class="container">
        <div class="flex-center flex-column ">
           
             <h1> How Much Would You Like To Bet On Your Success </h1>
    
            <p id="colectedScore"></p>
            <form>
                <select id="gambelOptions" class="btnGreen" onchange="gambelChoice()">
                    <Option>0</Option>
                    <Option>100</Option>
                    <Option>200</Option>
                    <Option>300</Option>
                    <Option>400</Option>
                    <Option>500</Option>
                    <Option>600</Option>
                </select>
                <p> You've chosen to gamble on </p> <p id="choosenGambel"></p>
            </form>

            <button type="button" id="gambelContinue" class="btnGreen" onclick="gambelToContinue()"> Continue</button>
            <a id="GoToGame" href="/GamePage"> </a>

            </div>

        </div>
    </div>

@code {
     protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            CallJSMethod();
        }
     }

    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("gambelingPage");
    }
}
