@layout SeconderyLayout
@page "/OrderQuestion"

@inject IJSRuntime JSRuntime;
  
<link href="/css/styles/OrderQuestion.css" rel="stylesheet" />

 <div class="container">
        <div class="flex-center flex-column">

            <h1>Order questions</h1>
            <p>Drag and drop the items into their corresponding spots</p>
            <br />
            <p id="orderQuestion"></p>
            <ul class="draggable-list" id="draggable-list"></ul>
            <button type="button" id="checkAnswer" class="btn" onclick="checkOrder()" disabled>submit</button>
        </div>
    </div>

@code {
       protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            CallJSMethod();
        }
     }

    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("orderQuestionPage");
    }
}
