@page "/EditorOpening"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inherits LayoutComponentBase



@*<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
<link href="/css/styles/EditorOpening.css" rel="stylesheet" />


<MudGrid>
    <MudItem xs="12" Class=" d-flex align-center justify-center mud-width-full py-8  gap-6">
        <MudItem xs="12" sm="4" class="">
            <a href="/Questions">
                <MudPaper Class="box d-flex align-center justify-center py-8 flex-column" Width="100%">
                    <img src="/css/img/Questions 1.svg" class="mt-4">
                    <MudText Class="boxTitle">Questions</MudText>
                </MudPaper>
            </a>
        </MudItem>

        <MudItem xs="12" sm="4" class="">
            <a href="/Questions">
                <MudPaper Class="box d-flex align-center justify-center py-8 flex-column" Width="100%">
                    <img src="/css/img/Game 1.png" alt="game button" class="mt-4">
                    <MudText Class="boxTitle">Games</MudText>
                </MudPaper>
            </a>
        </MudItem>

        <MudItem xs="12" sm="4" class="">
            <a href="/Questions">
                <MudPaper Class="box d-flex align-center justify-center py-8 flex-column" Width="100%">
                    <img src="/css/img/Users 1.png" alt="user button" class="mt-4">
                    <MudText Class="boxTitle">Users</MudText>
                </MudPaper>
            </a>
        </MudItem>

    </MudItem>
</MudGrid>



@*<div class="container">
    <div class=""></div>
    <div class="row text-center">
        <h3>Creat a new question? Edit a old game? Add more users?</h3>
        <h1>Start by clicking on the button </h1>

    </div>

    <nav class="navbar bg-light">
        <div class="container-fluid row mt-lg-15">

            <a class="box navbar-brand justify-content-center text-center col-3" href="/Questions">
                <img src="/css/img/Questions 1.svg" alt="Questions button" class="mt-4">
                <p>Questions</p>
            </a>

            <a class="box navbar-brand justify-content-center text-center col-3" href="/Games">
                <img src="/css/img/Game 1.png" alt="game button" class="mt-4">
                <p>Games</p>

            </a>

            <a class="box navbar-brand justify-content-center text-center col-3" href="/Users">
                <img src="/css/img/Users 1.png" alt="user button" class="mt-4">
                <p>Users</p>
            </a>
        </div>
    </nav>


</div>*@

@*<MudPaper Outlined="true" Class="border-dashed">
        <MudStack Justify="Center" Row="true">
            <a href="#"> <MudPaper Class="pa-3 mud-theme-primary">Item 1</MudPaper></a>
            <MudPaper Class="pa-3 mud-theme-primary">Item 2</MudPaper>
            <MudPaper Class="pa-3 mud-theme-primary">Item 3</MudPaper>
        </MudStack>
    </MudPaper>*@

@*<MudGrid>
    <a href="/Questions">
        <MudItem xs="12" sm="4">
            <MudPaper Class="box d-flex align-center justify-center mud-width-full py-8">
                <img src="/css/img/Questions 1.svg" alt="Questions button" class="mt-4">
                <MudText Class="boxTitle">Questions</MudText>
            </MudPaper>
        </MudItem>
    </a>
    <a href="/Games">
        <MudItem xs="12" sm="4">
            <MudPaper Class="box d-flex align-center justify-center mud-width-full py-8">
                <img src="/css/img/Game 1.png" alt="game button" class="mt-4">
                <MudText Class="boxTitle">Games</MudText>
            </MudPaper>
        </MudItem>
    </a>
    <a href="/Users">
        <MudItem xs="12" sm="4">
            <MudPaper Class="box d-flex align-center justify-center mud-width-full py-8">
                <img src="/css/img/Users 1.png" alt="user button" class="mt-4">
                <MudText Class="boxTitle">Users</MudText>
            </MudPaper>
        </MudItem>
    </a>
</MudGrid>*@

@code {

}
