@layout SeconderyLayout
@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="/css/styles/Gambeling.css" rel="stylesheet" />
<link href="/css/styles/LogIn.css" rel="stylesheet" />

<div class="Back">

<div class="container">
    <div class="justify-content-center align-items-center text-center">

         <img src="/css/img/solaredge-logo-vector.png" class="rounded mx-auto d-block" alt="Logo">
     

            <p>Enter Email:</p>
            <input type="text"  placeholder="Email" class="col-4" />
            <p>Passwored:</p>
            <input type="text"  placeholder="Passwored" class="col-4" />
         <div class="row justify-content-center p-3">
            <button type="button" id="StartGame" class="btnGreen col-4" @onclick="EnterEditor"> Enter the editor</button>
       </div>

    </div>
   

</div>
</div>

@code {

}
