
/*
.box {
    border-radius: 10px;
    background-color: #001546;
    height: 250px;
}*/

.boxTitle{
    color:white;
}

img {
    height: 120px;
    width: 120px;
}

.pageDescription{
    margin-top: 10px;
}

.mud-card-content {
    padding-bottom: 4px !important;
}

.mud-list-item-icon {
    color: #FF3232;
}