
#ErrorHelp {
    font-size: 2.2rem;
    font-weight: 700;
    color: darkred;
    margin-bottom: 2rem;
}

input {
    font-size: 1.8rem;
    border: 0.1rem solid #001546;
    border-radius: 10px;
    background-color: #edf8fe;
    height: 40px;
    padding: 15px;
}

    input::placeholder {
        color: #aaa;
        font-size: 1.8rem;
        padding:15px;
    }


.mud-card-header .mud-card-header-content .mud-typography {
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
}

.subtitleInput {
    font-size: 1.8rem;
    margin-top: 24px !important;
}

.inputLoginGame {
    font-size: 1.5rem !important;
}

.imgLogin {
    width: 60% !important;
}