
#ErrorHelp {
    font-size: 2.2rem;
    font-weight: 700;
    color: darkred;
    margin-bottom: 2rem;
}

input {
    font-size: 1.8rem;
    border: 0.1rem solid #001546;
    border-radius: 10px;
    background-color: #edf8fe;
    height: 40px;
    padding: 15px;
}

    input::placeholder {
        color: #aaa;
        font-size: 1.8rem;
        padding:15px;
    }