@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
}
:root{
    background-color:whitesmoke;
    font-size:62.5%;
}

* {
    box-sizing: border-box;
    font-family: Assistant;
    margin: 0;
    padding: 0;
    color: #001546;
}

.container-flex {
    background-color: #edf8fe;
    height: 100vh;
}

h1{
    font-size:5.4rem;
}

.title {
    background-color: #001546;
    height: 50px;
}

    .title h1 {
        color: aliceblue;
    }

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    align-items: center;
}

.text-center{
    text-align:center;
}

.hidden{
    display:none;

}
p {
    font-size: 2.2rem;
    font-weight: 700;
}

/* BUTTONS */
.btnBlue {
    font-size: 1.8rem;
    font-weight: 900;
    border: 0.1rem solid #001546;
    background-color: #001546;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    height: 50px;
}

    .btnBlue:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    .btnBlue[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }

.btnGreen {
    font-size: 1.8rem;
    font-weight: 900;
    border: 0.1rem solid #4aec96;
    background-color: #4aec96;
    color: #001546;
    text-decoration: none;
    border-radius: 8px;
    height: 50px;
}

    .btnGreen:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

#SkipAnswer {
    font-size: 1.8rem;
    font-weight: 900;
}

.score {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}

/* high score*/
highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

    .high-score:hover {
        transform: scale(1.025);
    }

/* progresbar */
#hud {
    margin-top: 2rem;
    display: flow;
    width: 100%;

}

.hud-prefix {
    font-size: 2rem;
}


#progressBar {
    height: 1rem;
    background-color: #edf8fe;
}

#progressBarFull {
    height: 1rem;
    background-color: #001546;
    width: 0%;
}
