@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
    --text-color: #34444f;
}

.draggable-list {

    list-style-type: none;
}

    .draggable-list li {
        border: 0.1rem solid;
        border-radius: 10px;
        background-color: #edf8fe;
    }

    .draggable-list .number {
        background-color: var(--background-color);
        font-size: 28px;

    }

    .draggable-list li.over .draggable {
        background-color: #eaeaea;
    }

    .draggable-list .person-name {
        margin: 0 20px 0 0;
    }

  