@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.draggable-list li {
    background-color: #edf8fe;
    border-bottom: 2px solid #e3e5e4;
    height:50px;
}

    .draggable-list li.over .draggable {
        background-color: #eaeaea;
    }

    .draggable-list .person-name {
        margin: 0 20px 0 0;
    }

/*.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}*/